name: campuscore_new
description: "A new Flutter project."
publish_to: 'none'

version: 1.0.0+1

environment:
  sdk: ^3.0.0

dependencies:
  flutter:
    sdk: flutter
  
  # ↓↓↓ ここを変更しました (v1.0.0 -> v2.10.0) ↓↓↓
  # これで新しい http や sign_in_with_apple と共存できます
  supabase_flutter: ^2.10.0

  # ↓↓↓ これはこのまま (Androidエラー回避のため必須) ↓↓↓
  sign_in_with_apple: ^6.1.0

  cupertino_icons: ^1.0.8
  flutter_dotenv: ^6.0.0
  http: ^1.6.0

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^5.0.0

flutter:
  uses-material-design: true
  assets:
    - .env